doctype html
html(lang="fr")
	head
		style
			include ../css/jquery-ui.min.css
			include ../css/styles.css
		script
			include ../js/jquery-3.2.1.min.js
			include ../js/jquery-ui.min.js
			include ../js/script.js
		title livres
	body
		h1 Ajout d'un livre
		form(action='/books/new', method='POST')
			div(class="divAjout")
				label(for='isbn') ISBN :
				input(type='text', name='isbn')
			div(class="divAjout")
				label(for='titre') Titre :
				input(type='text', name='titre')
			div(class="divAjout")
				label(for='auteur') Auteur :
				input(type='text', name='auteur')
			div(class="divAjout")
				label(for='date_achat') Date d'achat :
				input(type='text', name='date_achat' id='datepicker')
			div(class="divAjout")
				label(for='etat') Etat :
				select(name='etat')
					option(value="neuf") neuf
					option(value="bonEtat") bon état
					option(value="abime") abimé
			div(class="divAjout")
				label(for='thematiques') thematique :
				input(type='text', name='thematiques', placeholder='Thematiques')
			div(class="divAjout")
				button(type='submit') Enregistrer

		-function capitalizeFirstLetter(string) {
			-return string.charAt(0).toUpperCase() + string.slice(1);
		-}
		h1 Les livres
		each livre in livres
			ul
				li Titre : #{capitalizeFirstLetter(livre.titre)} - Auteur : #{capitalizeFirstLetter(livre.auteur)}
			form(name="supprimerLivre", method="post", action="/books/delete/" + livre._id)
				button(type="submit") Supprimer
			form(name="afficherLivre", method="post", action="/books/" + livre._id)
				button(type="submit") Afficher
